//$fontPath: '../../node_modules/grapesjs/src/styles/fonts/';

//@import '../../node_modules/grapesjs/src/styles/scss/main.scss';

#gjs {
  height:1800px !important;
}

.gjs-one-bg{
  background-color: #e5e5e5 !important;
}

.gjs-two-color {
  color: #666 !important;
}

.gjs-four-color {
  color: #039be5 !important;
}


input {
  margin: 0px;
}
#error {
  display: none;
  &.show {
    display: block;
  }
}