//$fontPath: '../../node_modules/grapesjs/src/styles/fonts/';

//@import '../../node_modules/grapesjs/src/styles/scss/main.scss';

#gjs {
  height:1024px !important;
}


input {
  margin: 0px;
}
#error {
  display: none;
  &.show {
    display: block;
  }
}